<ActionBar>
	<ActionItem text="My profile" (tap)="onUserIconTap()"></ActionItem>>
</ActionBar>


<FlexboxLayout class="flex-container">
	<FlexboxLayout class="top-container">
		<GridLayout class="sort-btns-container" rows="50%" columns="*,*,*">
			<Button row="0" col="0" class="sort-btn" [color]="sortByDate ? (sortByDateAsc ? 'green' : 'red') : ''"
				text="Sort by date" (tap)="onSortByDateTap()"></Button>
			<Button row="0" col="1" class="sort-btn"
				[color]="sortByProximity ? (sortByProximityAsc ? 'green' : 'red') : ''" text="Sort by proximity"
				(tap)="onSortByProximityTap()"></Button>
			<Button row="0" col="2" class="sort-btn" [color]="sortByAge ? (sortByAgeAsc ? 'green' : 'red') : ''"
				text="Sort by age" (tap)="onSortByAgeTap()"></Button>
		</GridLayout>
		<Button class="toggle-radius-btn" [text]="toggleRadiusText" (tap)="onToggleRadiusTapped()"></Button>
	</FlexboxLayout>
	<FlexboxLayout *ngIf="!isBusy" class="content">
		<fm-ads-list [emptyText]="emptyText" [ads]="ads">
		</fm-ads-list>
	</FlexboxLayout>
	<FlexboxLayout *ngIf="isBusy" class="content loader-container">
		<ActivityIndicator [busy]="isBusy"></ActivityIndicator>
	</FlexboxLayout>
	<GridLayout class="bottom-nav-container" rows="50%" columns="*, *">
		<Button col="0" class="nav-button" text="Map" (tap)="onMapButtonTap()"></Button>
		<Button col="1" class="nav-button" text="Add" (tap)="createNewAd()"></Button>
	</GridLayout>
</FlexboxLayout>