<ActivityIndicator [busy]="isBusy"></ActivityIndicator>
<ActionBar [title]="ad?.name">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"> </NavigationButton>
</ActionBar>

<FlexboxLayout *ngIf="!isBusy" class="flex-container">
    <ScrollView class="scroll-container">
        <StackLayout>
            <RadDataForm #adEditDataForm [metadata]="adMetadata" [source]="ad">
                <TKEntityProperty tkDataFormProperty displayName="Image" name="image" index="3">
                    <EmptyValidator tkEntityPropertyValidators></EmptyValidator>
                    <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)"
                        (editorHatToApplyValue)="editorHasToApplyValue($event)"
                        (editorNeedsValue)="editorNeedsValue($event)">
                    </TKCustomPropertyEditor>
                </TKEntityProperty>
            </RadDataForm>
            <Image [src]="url"></Image>
        </StackLayout>
    </ScrollView>
    <FlexboxLayout class="bottom-btns-container">
        <Button class="update-btn" text="Update" (tap)="validateAndCommit()"></Button>
        <Button class="delete-btn" text="Delete" (tap)="onDeleteTap()"></Button>
    </FlexboxLayout>
</FlexboxLayout>