<ScrollView>
    <StackLayout>
        <RadDataForm #adEditDataForm [metadata]="adMetadata" [source]="ad">
            <TKEntityProperty tkDataFormProperty displayName="Image" name="image" index="3">
                <EmptyValidator tkEntityPropertyValidators></EmptyValidator>
                <TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)"
                    (editorHatToApplyValue)="editorHasToApplyValue($event)"
                    (editorNeedsValue)="editorNeedsValue($event)">
                </TKCustomPropertyEditor>
            </TKEntityProperty>
        </RadDataForm>
        <Image [src]="url"></Image>
        <Button text="Find this pet!" (tap)="validateAndCommit()"></Button>
    </StackLayout>
</ScrollView>