/* Add mobile styles for the component here.  */

.ad-info {
    border-width: 1;
    border-color: pink;
}

Button {
    margin: 0;
}

.flex-container {
    flex-direction: column;
}

.empty-label-container {
    align-items: center;
    justify-content: center;

    .empty-label {
        font-size: large;
    }
}