/* Add mobile styles for the component here.  */

.flexbox-container {
	flex-direction: column;
	justify-content: space-between;
}

.change-email-container {
	margin-top: 10%;
}

.change-password-container {
	margin-bottom: 10%;
}