/* Add mobile styles for the component here.  */
.flex-container {
    flex-direction: column;
}

.flex-btn-container {
    justify-content: center;
    height: 20%;
    Button {
        margin: 0;
        flex-grow: 1;
    }
}

.ad-details {
    flex-grow: 2;
}
