/* Add mobile styles for the component here.  */
.flex-container {
    flex-direction: column;
}

.edit-button,
.ping-button {
    margin: 0;
}
.flex-btnss-container {
    height: 10%;
    .edit-button,
    .ping-button {
        width: 100%;
    }
}

.ad-details {
    height: 90%;
}
