<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"> </NavigationButton>
</ActionBar>

<FlexboxLayout class="flexbox-container">
    <StackLayout class="map-view-container">
        <MapView (mapReady)="onMapReady($event)" (markerSelect)="onMarkerSelect($event)"
            (markerInfoWindowTapped)="onInfoWindowTap($event)">
        </MapView>
    </StackLayout>
    <Button class="submit-btn" [text]="toggleRadiusText" (tap)="onToggleRadiusTap()"></Button>
</FlexboxLayout>