/* Add mobile styles for the component here.  */

.ad-info {
    border-width: 1;
    border-color: pink;
}

.flex-container {
    flex-direction: column;
}

.ads-list {
    flex-grow: 2;
}

.stack-top-container {
    Button {
        margin: 0;
    }
}

.flex-top-btn-container {
    Button {
        margin: 0;
        flex-grow: 1;
    }
}

.flex-bot-btn-container {
    min-height: 10%;
    height: 10%;
    Button {
        margin: 0;
        flex-grow: 1;
    }
}

.test-button {
    margin: 0;
    flex-grow: 1;
}

.sort-btn {
    margin: 0;
    flex-grow: 1;
}

.empty-label-container {
    justify-content: center;
    .empty-label {
        font-size: large;
        margin-top: 60%;
    }
}
