/* Add mobile styles for the component here.  */

.ad-info {
    border-width: 1;
    border-color: pink;
}

.flex-container {
    flex-direction: column;
}

.ads-list {
    flex-grow: 2;
}

.flex-btn-container {
    justify-content: center;
    height: 20%;
}

.test-button {
    margin: 0;
    flex-grow: 1;
}