/* Add mobile styles for the component here.  */

.flexbox-container {
    flex-direction: column;
}

/*.tip-lbl-container {
    //height: 20%;
    flex-grow: 1;
}

.map-view-container {
    //flex-grow: 1;
}*/

.submit-btn {
    height: 20%;
    margin: 0;
}