/* Add mobile styles for the component here.  */


.flex-container {
    flex-direction: column;
}

.ad-info {
    border-width: 1;
    border-color: pink;
}

.content {
	height: 100%;
}

.loader-container {
    align-items: center;
    justify-content: center;
}