<ActionBar>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()"> </NavigationButton>
</ActionBar>

<FlexboxLayout class="flexbox-container">
    <ScrollView class="scroll-view">
        <StackLayout class="form">
            <RadDataForm #adCreateDataForm [metadata]="adMetadata" [source]="ad">
                <TKEntityProperty tkDataFormProperty displayName="Age" name="age" index="1">
                    <AgeValidator tkEntityPropertyValidators></AgeValidator>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty displayName="Position" name="lastKnownPosition" index="3">
					<PositionValidator tkEntityPropertyValidators></PositionValidator>
                    <TKCustomPropertyEditor tkEntityPropertyEditor 
                        (editorNeedsView)="positionEditorNeedsView($event)" 
                        (editorHasToApplyValue)="positionEditorHasToApplyValue($event)"
                        (editorNeedsValue)="positionEditorNeedsValue($event)">
                    </TKCustomPropertyEditor>
                </TKEntityProperty>
                <TKEntityProperty tkDataFormProperty displayName="Image" name="image" index="4">
                    <ImageValidator tkEntityPropertyValidators></ImageValidator>
                    <TKCustomPropertyEditor tkEntityPropertyEditor 
                        (editorNeedsView)="imageEditorNeedsView($event)"
                        (editorHatToApplyValue)="imageEditorHasToApplyValue($event)"
                        (editorNeedsValue)="imageEditorNeedsValue($event)">
                    </TKCustomPropertyEditor>
                </TKEntityProperty>
            </RadDataForm>
            <Image [src]="url"></Image>
        </StackLayout>
    </ScrollView>
    <Button class="commit-btn" text="Find this pet!" (tap)="validateAndCommit()"></Button>
</FlexboxLayout>